{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-md-10 ml-auto mr-auto">
    <h1>{{ submited.title }}</h1>
  </div>
</div>
<div class="row mt-3 ml-auto mr-auto">
  <div class="col-md-4">
    <h4> submited by {{ view_doc.submitor.username }}</h4>
  </div>
  <div class="col-md-4">
    <h4 class="text-right">{{ view_doc.submit_date_pretty }}</h4>
  </div>
  <div class="col-md-4">
  <a href="{{ view_doc.rajuk.url }} "><batton class="btn btn-primary btn-lg btn-block" >Download Document</batton></a>
</div>
</div>
<div class="row mt-3 ml-auto mr-auto">
  <div class="col-md-8">
    <p>{{ view_doc.description }}</p>
  </div>
  <div class="col-md-4">
    <div style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Address 📍</h6>
    <p class="card-text">
      {{ view_doc.submitor.companyDetails.city }},
      {{ view_doc.submitor.companyDetails.state }},
      {{ view_doc.submitor.companyDetails.zip_code }},
      {{ view_doc.submitor.companyDetails.country }}
    </p>
  </div>
</div>
  </div>
</div>
<div class="row mt-3">
  <form class="col-md-8" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group shadow-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">{{ form.accept }}Accept</label>
      </div>
      <div class="custom-file" style="opacity: 1; filter: alpha(opacity=30);">
        {{ form.document }}
        <label class="custom-file-label">Upload Required Files</label>
      </div>
    </div>
    <div class="input-group shadow-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">{{ form.reject }}Reject</label>
      </div>
      <div class="custom-file" style="opacity: 1; filter: alpha(opacity=30);">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="input-group shadow-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Feedback</label>
      </div>
      <div class="custom-file" style="opacity: 1; filter: alpha(opacity=30);">
        {{ form.feedback }}
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Send">
  </form>
</div>
{% endblock %}
