{% extends 'base.html' %}
{% block content %}
<div class="row mt-3">
  <div class="col-md-10 mr-auto ml-auto">
    <table class="table shadow">
      <thead class="navbar-dark" style="color:white;">
        <tr>
          <th>Title</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="background2">
        {% for submited in submited %}
        <tr onclick="window.location='{% url 'subDetail' submited.id %}';" style="cursor:pointer;">
          <td>{{ submited.title }}</td>
          <td>{{ submited.submit_date_pretty }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
